<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="niveau">
      <h2 data-cy="niveauDetailsHeading"><span eTranslate="eLearningApp.niveau.detail.title">Niveau</span></h2>

      <hr />

      <e-alert-error></e-alert-error>

      <e-alert></e-alert>

      <dl class="row-md jh-entity-details">
        <dt><span eTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ niveau.id }}</span>
        </dd>
        <dt><span eTranslate="eLearningApp.niveau.libelle">Libelle</span></dt>
        <dd>
          <span>{{ niveau.libelle }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span eTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/niveau', niveau.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span eTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
