<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="e-matiere-heading" data-cy="MatiereCreateUpdateHeading" eTranslate="eLearningApp.matiere.home.createOrEditLabel">
        Create or edit a Matiere
      </h2>

      <div>
        <e-alert-error></e-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" eTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.matiere.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" eTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.matiere.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.matiere.formateur" for="field_formateur">Formateur</label>
          <select class="form-control" id="field_formateur" data-cy="formateur" name="formateur" formControlName="formateur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="formateurOption.id === editForm.get('formateur')!.value?.id ? editForm.get('formateur')!.value : formateurOption"
              *ngFor="let formateurOption of formateursSharedCollection; trackBy: trackFormateurById"
            >
              {{ formateurOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.matiere.niveau" for="field_niveau">Niveau</label>
          <select class="form-control" id="field_niveau" data-cy="niveau" name="niveau" formControlName="niveau">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="niveauOption.id === editForm.get('niveau')!.value?.id ? editForm.get('niveau')!.value : niveauOption"
              *ngFor="let niveauOption of niveausSharedCollection; trackBy: trackNiveauById"
            >
              {{ niveauOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span eTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span eTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
