<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="e-cours-heading" data-cy="CoursCreateUpdateHeading" eTranslate="eLearningApp.cours.home.createOrEditLabel">
        Create or edit a Cours
      </h2>

      <div>
        <e-alert-error></e-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" eTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.cours.titre" for="field_titre">Titre</label>
          <input type="text" class="form-control" name="titre" id="field_titre" data-cy="titre" formControlName="titre" />
          <div *ngIf="editForm.get('titre')!.invalid && (editForm.get('titre')!.dirty || editForm.get('titre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('titre')?.errors?.required" eTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.cours.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.cours.dateAjout" for="field_dateAjout">Date Ajout</label>
          <div class="d-flex">
            <input
              id="field_dateAjout"
              data-cy="dateAjout"
              type="datetime-local"
              class="form-control"
              name="dateAjout"
              formControlName="dateAjout"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" eTranslate="eLearningApp.cours.matiere" for="field_matiere">Matiere</label>
          <select class="form-control" id="field_matiere" data-cy="matiere" name="matiere" formControlName="matiere">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="matiereOption.id === editForm.get('matiere')!.value?.id ? editForm.get('matiere')!.value : matiereOption"
              *ngFor="let matiereOption of matieresSharedCollection; trackBy: trackMatiereById"
            >
              {{ matiereOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span eTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span eTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
